table {
margin: 20px auto;
background: black; 
box-shadow: 14px 9px 7px 0px rgba(0,0,0,0.59);
}
td {
 
width: 60px; height: 60px; 
background: rgb(25, 243, 17); 
text-align: center; 
vertical-align: middle; 
}
tr:nth-child(odd) td:nth-child(odd), 
tr:nth-child(even) td:nth-child(even) {
background: white; 
}

.blancas, .negras {
display: inline-block; 
font-weight: bold;
font-size: 200%;
color: black; 

overflow: hidden; 
}

.negras {

color: black; 

}
.blancas{
    color: red;
}
